[submodule "backend"]
	path = backend
	url = https://github.com/nomadstar/GA_Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Aliagaaaaaa/horarios-frontend.git
	ignore = untracked
